.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &>header {
        margin-top: calc(var(--pico-spacing) * 4);
    }

    &>main {
        flex: 1;
    }

    &>footer {
        margin-bottom: var(--pico-spacing);
    }
}

.link-icon {
    width: var(--pico-spacing);
    height: var(--pico-spacing);
    vertical-align: calc(var(--pico-typography-spacing-vertical) / 8 * -1);
    margin-inline-end: calc(var(--pico-nav-link-spacing-horizontal) / 2);
}